@charset "UTF-8";
/* In type partial */
@font-face {
  font-family: 'GlacialIndifference-Regular';
  src: url("../fonts/GlacialIndifference-Regular.eot");
  src: local("☺"), url("../fonts/GlacialIndifference-Regular.woff") format("woff"), url("../fonts/GlacialIndifference-Regular.ttf") format("truetype"), url("../fonts/GlacialIndifference-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GlacialIndifference-Bold';
  src: url("../fonts/GlacialIndifference-Bold.eot");
  src: local("☺"), url("../fonts/GlacialIndifference-Bold.woff") format("woff"), url("../fonts/GlacialIndifference-Bold.ttf") format("truetype"), url("../fonts/GlacialIndifference-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Romantically';
  src: url("../fonts/Romantically.eot");
  src: local("☺"), url("../fonts/Romantically.woff") format("woff"), url("../fonts/Romantically.ttf") format("truetype"), url("../fonts/Romantically.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MoolBoran';
  src: url("../fonts/MoolBoran.eot");
  src: local("☺"), url("../fonts/MoolBoran.woff") format("woff"), url("../fonts/MoolBoran.ttf") format("truetype"), url("../fonts/MoolBoran.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Layout:
  1. Common
  2. Home
  3. About
  4.
  5.
*/
body {
  font-family: "GlacialIndifference-Regular", sans-serif;
  font-size: 1.5rem; }

p {
  font-size: 1.5rem; }

h2 {
  font-family: "MoolBoran";
  font-size: 3rem;
  text-transform: uppercase; }

.seprator {
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: #f7931e;
  border-radius: 100px; }

.fancy-text {
  font-family: "Romantically";
  margin: 0;
  padding-top: 2.5rem; }

.about {
  background-color: #000000;
  padding: 10rem 0;
  text-align: center; }
  .about h2 {
    color: #ffffff; }
  .about p {
    color: #ffffff; }
