/* In type partial */

// -- TYPOGRAPHY --//
// Futura-Light Font
@font-face {
	font-family: 'futura-light-bt';
	src: url('../fonts/futura light bt/futura light bt.eot');
	src: local('☺'), url('../fonts/futura light bt/futura light bt.woff') format('woff'),
  url('../fonts/futura light bt/futura light bt.ttf') format('truetype'),
  url('../fonts/futura light bt/futura light bt.svg') format('svg'),
	url('../fonts/futura light bt/futura light bt.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

// Futura-Medium Font
@font-face {
	font-family: 'futura-medium-bt';
	src: url('../fonts/futura medium bt/futura medium bt.eot');
	src: local('☺'), url('../fonts/futura medium bt/futura medium bt.woff') format('woff'),
  url('../fonts/futura medium bt/futura medium bt.ttf') format('truetype'),
  url('../fonts/futura medium bt/futura medium bt.svg') format('svg'),
	url('../fonts/futura medium bt/futura medium bt.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

// Futura-Heavy Font
@font-face {
	font-family: 'futura-heavy';
	src: url('../fonts/futura-heavy/futura-heavy.eot');
	src: local('☺'), url('../fonts/futura-heavy/futura-heavy.woff') format('woff'),
  url('../fonts/futura-heavy/futura-heavy.ttf') format('truetype'),
  url('../fonts/futura-heavy/futura-heavy.svg') format('svg'),
	url('../fonts/futura-heavy/futura-heavy.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

// Hublland-Regulary Font
@font-face {
	font-family: 'hublland-regular';
	src: url('../fonts/hublland regular/hublland regular.eot');
	src: local('☺'), url('../fonts/hublland regular/hublland regular.woff') format('woff'),
  url('../fonts/hublland regular/hublland regular.ttf') format('truetype'),
  url('../fonts/hublland regular/hublland regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// MoolBoran Font
@font-face {
	font-family: 'MoolBoran';
	src: url('../fonts/MoolBoran.eot');
	src: local('☺'), url('../fonts/MoolBoran.woff') format('woff'),
  url('../fonts/MoolBoran.ttf') format('truetype'),
  url('../fonts/MoolBoran.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	line-height: inherit;
}

// Standardise the font-family names
$font-family: 'futura-light-bt';
$font-family-medium: 'futura-medium-bt';
$font-family-bold: 'futura-heavy';
$font-headings: 'MoolBoran';
$font-stylish: 'hublland-regular';

$font-small: 1.125rem;
$font-btn-size: 1.3rem;
$font-size-base: 1rem;
$font-size-h2: 1.6rem;

//-- COLORS  --//
$primary-color: #75223D;
$secondary-color: #C69A75;
$white: #ffffff;
$gray: #999799;
$light-gray: lighten($gray, 30%);
$black: #0D0D0D;

//-- BUTTONS --//
$btn-primary-color: $secondary-color;
$btn-primary-bg: $white;
$btn-primary-border: darken($btn-primary-bg, 5%);

$btn-secondary-color: $white;
$btn-secondary-bg: $secondary-color;
$btn-secondary-border: darken($btn-secondary-bg, 5%);

//-- IMAGE SHADOW --//
$image-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
